<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apple-id</key>
	<string>{apple_id}</string>
	<key>client-id</key>
	<string></string>
	<key>delegates</key>
	<dict>
	<key>com.apple.gamecenter</key>
	<dict/>
	<key>com.apple.mobileme</key>
	<dict/>
	<key>com.apple.private.ids</key>
	<dict>
	<key>protocol-version</key>
	<string>4</string>
	</dict>
	</dict>
	<key>password</key>
	<string>{password}</string>
</dict>
</plist>
